[MAIN]
suggestion-mode=yes

# R0801 checks for duplicate code.
# It is disabled for now as it otherwise spams the linter output for unavoidable cases
disable=too-many-positional-arguments, too-many-arguments, R0801

[FORMAT]
max-line-length=150


[BASIC]
function-rgx=_?[A-Za-z0-9\_]{1,40}$
argument-rgx=_?[A-Za-z0-9\_]{1,30}$
variable-rgx=_?[A-Za-z0-9\_]{1,30}$

[DESIGN]
max-locals = 30
