[MAIN]
suggestion-mode=yes

disable=too-many-positional-arguments, too-many-arguments, missing-module-docstring

[FORMAT]
max-line-length=150


[BASIC]
function-rgx=_?[A-Za-z0-9\_]{1,30}$
argument-rgx=_?[A-Za-z0-9\_]{1,30}$
variable-rgx=_?[A-Za-z0-9\_]{1,30}$
